[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.9'

[packages]
wagtail = { version = "2.16.1" } 
django-bootstrap-icons = "*"
gunicorn = "*"
psycopg2-binary = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]
nose = '*'
django-debug-toolbar = "*"
