{% load wagtailcore_tags wagtailimages_tags navbar_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% slugurl 'home' %}">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% slugurl 'home' %}">Trang chủ
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarScrollingDropdown" role="button" aria-haspopup="true" aria-expanded="false">Thư viện pháp luật</a>
          <div class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            {% get_categories as categories %}
            {% for cat in categories %}
            <a class="dropdown-item" href="{% slugurl 'blog' %}?category={{ cat.slug }}">{{ cat.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% slugurl 'contact' %}">Liên hệ</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>