{% load wagtailcore_tags wagtailimages_tags %}


<div id="gallery" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for loop_cycle in page.gallery_images.all %}
        {% image loop_cycle.image fill-900x400 as img %}
        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
            <img class="d-block w-100" src="{{ img.url }}" alt="{{ loop_cycle.caption }}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#gallery" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#gallery" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
